@import "tailwindcss";
@config "../tailwind.config.js";

* {
    color-scheme: light dark;
}

body {
    font-family: "Space Grotesk", sans-serif;
}

html {
    color-scheme: dark light;
    scroll-behavior: smooth;
}

.glass-card {
    background: rgba(255, 255, 255, 0.03);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.05);
}